.listPadding{ //常用于列表页面
    padding: 20px;
}
  
.dialogTitleIcon{ //dialog中的小标题提示icon
	height:30px;
	width:5px;
	background:#096dd9;
	float:left;
	margin-right:5px;
}

.dialogTitleIconCol{
	line-height: 30px;
}